/* button-difficulty.component.scss */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Facultatif, pour centrer au milieu de la page */
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }