/* button-difficulty.component.scss */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Facultatif, pour centrer au milieu de la page */
  }
  